flows_css_propertychange.json
[{"id":"7b78ddd6.f17bf4","type":"tab","label":"getcss","disabled":false,"info":""},{"id":"8708020f.0ee41","type":"tab","label":"cssstats","disabled":false,"info":""},{"id":"173da4ff.e4c84b","type":"tab","label":"getcss+stats","disabled":false,"info":""},{"id":"d504953.5c3df68","type":"change","z":"7b78ddd6.f17bf4","name":"SETTINGS","rules":[{"t":"set","p":"webarchiveURL","pt":"global","to":"http://web.archive.org/web/","tot":"str"},{"t":"set","p":"newspapers","pt":"global","to":"[{\"url\":\"http://www.diepresse.com\",\"shortName\":\"diepresse\"}]","tot":"json"},{"t":"set","p":"yearRange","pt":"global","to":"[2008..2009]","tot":"jsonata"},{"t":"set","p":"outputPath","pt":"global","to":"c://temp//","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"newspapers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["8f8702c1.3c617"]]},{"id":"1ab1fb92.e10284","type":"split","z":"7b78ddd6.f17bf4","name":"foreach newspaper","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":160,"wires":[["790c2857.782cd8"]]},{"id":"3bfd5658.fde17a","type":"inject","z":"7b78ddd6.f17bf4","name":"START","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":80,"wires":[["d504953.5c3df68"]]},{"id":"cbd83d7f.e0ff9","type":"template","z":"7b78ddd6.f17bf4","name":"build SnapshotURLs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#global.snapshotDates}}\n- {{{global.webarchiveURL}}}{{.}}/{{{payload.url}}}\n{{/global.snapshotDates}}","output":"yaml","x":700,"y":160,"wires":[["2bf8c8d.6d3d738"]]},{"id":"2bf8c8d.6d3d738","type":"split","z":"7b78ddd6.f17bf4","name":"foreach SnapshotURL","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":160,"y":240,"wires":[["185100a4.1e716f"]]},{"id":"419b5e7f.2db0d","type":"exec","z":"7b78ddd6.f17bf4","command":"getcss","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":380,"wires":[[],[],[]]},{"id":"f94aa256.e9b9f","type":"file","z":"7b78ddd6.f17bf4","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":950,"y":240,"wires":[[]]},{"id":"8f8702c1.3c617","type":"template","z":"7b78ddd6.f17bf4","name":"build SnapshotDates","field":"snapshotDates","fieldType":"global","format":"handlebars","syntax":"mustache","template":"{{#global.yearRange}}\n- {{.}}0101\n- {{.}}0201\n- {{.}}0301\n- {{.}}0401\n- {{.}}0501\n- {{.}}0601\n- {{.}}0701\n- {{.}}0801\n- {{.}}0901\n- {{.}}1001\n- {{.}}1101\n- {{.}}1201\n{{/global.yearRange}}","output":"yaml","x":540,"y":80,"wires":[["1ab1fb92.e10284"]]},{"id":"790c2857.782cd8","type":"change","z":"7b78ddd6.f17bf4","name":"set Newspaper URL & Shortname","rules":[{"t":"set","p":"currentURL","pt":"global","to":"payload.url","tot":"msg"},{"t":"set","p":"currentShortName","pt":"global","to":"payload.shortName","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["cbd83d7f.e0ff9"]]},{"id":"a447ff85.8efe7","type":"debug","z":"7b78ddd6.f17bf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":340,"wires":[]},{"id":"57ecdb75.1f0264","type":"change","z":"7b78ddd6.f17bf4","name":"","rules":[{"t":"set","p":"snapshotDate","pt":"msg","to":"$split(msg.payload, \"/\")[4]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":240,"wires":[["543d411a.be576"]]},{"id":"1b8eae2.4bb2352","type":"fs-ops-dir","z":"8708020f.0ee41","name":"","path":"outputPath","pathType":"global","filter":"*.getcss.json","filterType":"str","dir":"files","dirType":"msg","x":440,"y":120,"wires":[["b414a25.f5fb66"]]},{"id":"3720e789.d719c8","type":"inject","z":"8708020f.0ee41","name":"START","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["f1fd85da.b593c8"]]},{"id":"224fc7af.8edc98","type":"split","z":"8708020f.0ee41","name":"foreach getcss file","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":260,"wires":[["71f33ef9.bea04"]]},{"id":"d18a671e.e9f708","type":"file","z":"8708020f.0ee41","name":"save cssstats file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":730,"y":380,"wires":[["f248ce8c.439e7"]]},{"id":"b414a25.f5fb66","type":"change","z":"8708020f.0ee41","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"files","tot":"msg"},{"t":"set","p":"allStats","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["224fc7af.8edc98"]]},{"id":"f1fd85da.b593c8","type":"change","z":"8708020f.0ee41","name":"SETTINGS","rules":[{"t":"set","p":"webarchiveURL","pt":"global","to":"http://web.archive.org/web/","tot":"str"},{"t":"set","p":"newspapers","pt":"global","to":"[{\"url\":\"http://www.diepresse.com\",\"shortName\":\"diepresse\"}]","tot":"json"},{"t":"set","p":"yearRange","pt":"global","to":"[2008..2009]","tot":"jsonata"},{"t":"set","p":"outputPath","pt":"global","to":"c://temp//","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"newspapers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":120,"wires":[["1b8eae2.4bb2352"]]},{"id":"71f33ef9.bea04","type":"function","z":"8708020f.0ee41","name":"set filename","func":"msg.filename = `${global.get('outputPath')}${msg.payload}`;\nmsg.payload = `${global.get('outputPath')}${msg.payload}`;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["915ad2da.3b2af"]]},{"id":"543d411a.be576","type":"function","z":"7b78ddd6.f17bf4","name":"getCSS.js","func":"var getCSS = context.global.getCSS;\ngetCSS(msg.payload,{timeout: 30000,verbose:false, stripWayback: true}).then(function(response){\n    var dateBorder = msg.payload.split(\"://web.archive.org/web/\");\n    if (dateBorder[1]){\n        var snapshotDate = parseInt(dateBorder[1]);\n        \n        delete response.html;\n    \n        node.send({\n            payload:response,\n            filename: `${global.get('outputPath')}${global.get('currentShortName')}${snapshotDate}.getcss.json`\n        });\n    }\n});\nreturn;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["f94aa256.e9b9f"]]},{"id":"9d378423.473d18","type":"function","z":"7b78ddd6.f17bf4","name":"set CSS Filename","func":"msg.filename = `${global.get('outputPath')}${global.get('currentShortName')}${msg.snapshotDate}.json`\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["a447ff85.8efe7"]]},{"id":"185100a4.1e716f","type":"delay","z":"7b78ddd6.f17bf4","name":"","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":240,"wires":[["57ecdb75.1f0264"]]},{"id":"96941c4e.435cd","type":"join","z":"8708020f.0ee41","name":"","mode":"auto","build":"array","property":"analyzedProps","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":170,"y":680,"wires":[["5f680f4.14353f","44d0ee9a.d5458"]]},{"id":"915ad2da.3b2af","type":"file in","z":"8708020f.0ee41","name":"read CSS","filename":"","format":"utf8","chunk":false,"sendError":false,"x":560,"y":260,"wires":[["bf03bcf4.a0ff9"]]},{"id":"bf03bcf4.a0ff9","type":"json","z":"8708020f.0ee41","name":"convert to JSON","property":"payload","action":"obj","pretty":false,"x":760,"y":260,"wires":[["89e4590c.8ecd28"]]},{"id":"89e4590c.8ecd28","type":"change","z":"8708020f.0ee41","name":"set payload to css","rules":[{"t":"set","p":"css","pt":"msg","to":"payload.css","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":260,"wires":[["995f8422.d4af48"]]},{"id":"a8b9bf6c.1be5e","type":"function","z":"8708020f.0ee41","name":"set filename","func":"msg.filename = `${global.get('outputPath')}${msg.payload}`;\nmsg.payload = `${global.get('outputPath')}${msg.payload}`;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[[]]},{"id":"995f8422.d4af48","type":"function","z":"8708020f.0ee41","name":"set name of cssstats file","func":"msg.filename = msg.filename.split('getcss').join('cssstats');\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["6fa9bafd.a79ed4"]]},{"id":"6fa9bafd.a79ed4","type":"function","z":"8708020f.0ee41","name":"cssstats.js","func":"var cssstats = context.global.cssstats;\nmsg.payload = cssstats(msg.css);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["d18a671e.e9f708"]]},{"id":"f248ce8c.439e7","type":"function","z":"8708020f.0ee41","name":"reduce collected stats","func":"var cssProps = msg.payload[\"declarations\"][\"properties\"];\nvar cssPropKeys = Object.keys(cssProps);\nvar NonVendorProps = cssPropKeys.filter(function (prop) {\n    return prop.startsWith('-') === false;\n});\n\nvar analyzedProps = {};\nNonVendorProps.map(function (prop) {\n    var uniquePropValues = [... new Set(cssProps[prop])]\n    analyzedProps[prop] = uniquePropValues;\n});\n\nanalyzedProps['snapshot-date'] = msg.filename.split(\"/\").pop();\nmsg.analyzedProps = analyzedProps;      \nreturn msg;","outputs":1,"noerr":0,"x":980,"y":380,"wires":[["9b168f0b.f8709"]]},{"id":"5f680f4.14353f","type":"json","z":"8708020f.0ee41","name":"","property":"analy","action":"","pretty":true,"x":330,"y":680,"wires":[["9b52abdb.c5db48","ff234464.203eb8"]]},{"id":"9b52abdb.c5db48","type":"file","z":"8708020f.0ee41","name":"","filename":"c://temp//diepresse.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":550,"y":680,"wires":[[]]},{"id":"ff234464.203eb8","type":"split","z":"8708020f.0ee41","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":760,"wires":[["dfdf4b34.e37df8"]]},{"id":"dfdf4b34.e37df8","type":"function","z":"8708020f.0ee41","name":"calculate JSONdiff","func":"msg.numDiffs = [];\nfor (i = 1; i < msg.payload.length; i++) {\n    var differences = diff(msg.payload[i-1], msg.payload[i]);\n    numDiffs.push(differences.length);\n}    \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":780,"wires":[[]]},{"id":"44d0ee9a.d5458","type":"debug","z":"8708020f.0ee41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":740,"wires":[]},{"id":"9b168f0b.f8709","type":"function","z":"8708020f.0ee41","name":"set name of props file","func":"msg.filename = msg.filename.split('cssstats').join('anaylzed-props');\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":480,"wires":[["1f322065.61943"]]},{"id":"7fd406f7.3a26e8","type":"file","z":"8708020f.0ee41","name":"save props file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":880,"y":480,"wires":[[]]},{"id":"1f322065.61943","type":"json","z":"8708020f.0ee41","name":"","property":"analyzedProps","action":"","pretty":true,"x":430,"y":480,"wires":[["b712f83a.9f43b8"]]},{"id":"b712f83a.9f43b8","type":"change","z":"8708020f.0ee41","name":"set payload to css","rules":[{"t":"set","p":"payload","pt":"msg","to":"analyzedProps","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["7fd406f7.3a26e8"]]},{"id":"75ffefbb.a25a8","type":"inject","z":"173da4ff.e4c84b","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["2787852d.953f0a"]]},{"id":"efa70edd.c2966","type":"http request","z":"173da4ff.e4c84b","name":"get historic snapshots for newspaper","method":"GET","ret":"txt","url":"","tls":"","x":710,"y":80,"wires":[["ae9f6269.e0fcd"]]},{"id":"ae9f6269.e0fcd","type":"json","z":"173da4ff.e4c84b","name":"parse json","property":"payload","action":"","pretty":false,"x":190,"y":180,"wires":[["4166a3ff.f65a1c"]]},{"id":"409c7004.07db9","type":"split","z":"173da4ff.e4c84b","name":"foreach snapshot","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":180,"wires":[["662e95bd.19101c"]]},{"id":"35e147b8.8e6448","type":"change","z":"173da4ff.e4c84b","name":"build snapshot url","rules":[{"t":"set","p":"url","pt":"msg","to":"'https://web.archive.org/' & msg.payload[1] & '/' & msg.payload[2]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":300,"wires":[["5d4fae2.4e1ac5"]]},{"id":"5d4fae2.4e1ac5","type":"function-npm","z":"173da4ff.e4c84b","name":"get snapshot css","func":"\nvar getCss = require('get-css');\n\nvar options = {\n  timeout: 60000,\n  stripWayback:true\n};\nnode.log(\"message url:\" + msg.url);\n//msg.url=\"https://www.github.com\"\ngetCss(msg.url, options)\n  .then(function(response) {\n      //node.log(\"getcss response\" + JSON.stringify(response));\n      response.url = msg.url;\n      node.send({payload:response});\n  })\n  .catch(function(error) {\n    node.error(\"getcss error:\" + error);\n  });\n  \nreturn;\n","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["be57c78.95ccf38"]]},{"id":"be57c78.95ccf38","type":"function-npm","z":"173da4ff.e4c84b","name":"css-stats","func":"var cssstats = require('cssstats')\n//node.log(\"css for analysis: \" + JSON.stringify(msg.payload.css))\nvar url = msg.payload.url;\nmsg.payload = cssstats(msg.payload.css);\nmsg.payload.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["997a99ee.baf288"]]},{"id":"49d71d75.2f9f24","type":"file","z":"173da4ff.e4c84b","name":"save in nd-json file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1430,"y":300,"wires":[[]]},{"id":"2787852d.953f0a","type":"change","z":"173da4ff.e4c84b","name":"define newspaper & timerange","rules":[{"t":"set","p":"newspaperUrl","pt":"msg","to":"http://www.clarin.com","tot":"str"},{"t":"set","p":"startYear","pt":"msg","to":"2009","tot":"str"},{"t":"set","p":"endYear","pt":"msg","to":"2018","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"'http://web.archive.org/cdx/search/cdx?url=' & msg.newspaperUrl & '&from=' & msg.startYear & '&to=' & msg.endYear & '&filter=statuscode:200&collapse=timestamp:6&output=json'","tot":"jsonata"},{"t":"set","p":"filename","pt":"flow","to":"C:\\\\temp\\\\node-red\\\\clarin2009-2018.quarterly.ndjson","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["efa70edd.c2966"]]},{"id":"997a99ee.baf288","type":"change","z":"173da4ff.e4c84b","name":"transform stats","rules":[{"t":"set","p":"payload.rules","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.selectors","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"filename","pt":"msg","to":"filename","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":300,"wires":[["47e409dc.8b0128"]]},{"id":"4166a3ff.f65a1c","type":"function","z":"173da4ff.e4c84b","name":"remove first row, take every 3rd entry","func":"msg.payload.shift();\nmsg.payload = msg.payload.filter(function(item,idx){\n    return idx % 3 === 0;\n})\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["409c7004.07db9"]]},{"id":"662e95bd.19101c","type":"delay","z":"173da4ff.e4c84b","name":"","pauseType":"rate","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":240,"wires":[["35e147b8.8e6448"]]},{"id":"63c08a59.69ee04","type":"function-npm","z":"173da4ff.e4c84b","name":"convert to ndjson","func":"var ndjson = require(\"ndjson\");\n\nvar serialize = ndjson.serialize();\nserialize.on('data', function(line) {\n    msg.payload = line;\n    node.send(msg);\n  // line is a line of stringified JSON with a newline delimiter at the end\n});\nserialize.write(msg.payload);\nserialize.end();  \n  \nreturn;\n","outputs":1,"noerr":0,"x":1210,"y":300,"wires":[["49d71d75.2f9f24","961ae72c.7b9fb8"]]},{"id":"961ae72c.7b9fb8","type":"debug","z":"173da4ff.e4c84b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1440,"y":440,"wires":[]},{"id":"47e409dc.8b0128","type":"switch","z":"173da4ff.e4c84b","name":"if css size > 0 Bytes","property":"payload.size","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":300,"wires":[["63c08a59.69ee04"],["b3f60d04.1399f"]]},{"id":"8eb8a95a.4e77e8","type":"debug","z":"173da4ff.e4c84b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"emptyCSSError","x":1200,"y":540,"wires":[]},{"id":"b3f60d04.1399f","type":"change","z":"173da4ff.e4c84b","name":"emptyCSSError","rules":[{"t":"set","p":"emptyCSSError","pt":"msg","to":"'ERROR: Could not download CSS from ' & msg.payload.url","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":440,"wires":[["8eb8a95a.4e77e8"]]}]