flows_css_propertychange.json
[{"id":"7b78ddd6.f17bf4","type":"tab","label":"getcss","disabled":false,"info":""},{"id":"8708020f.0ee41","type":"tab","label":"cssstats","disabled":false,"info":""},{"id":"d504953.5c3df68","type":"change","z":"7b78ddd6.f17bf4","name":"SETTINGS","rules":[{"t":"set","p":"webarchiveURL","pt":"global","to":"http://web.archive.org/web/","tot":"str"},{"t":"set","p":"newspapers","pt":"global","to":"[{\"url\":\"http://www.diepresse.com\",\"shortName\":\"diepresse\"}]","tot":"json"},{"t":"set","p":"yearRange","pt":"global","to":"[2008..2009]","tot":"jsonata"},{"t":"set","p":"outputPath","pt":"global","to":"c://temp//","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"newspapers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["8f8702c1.3c617"]]},{"id":"1ab1fb92.e10284","type":"split","z":"7b78ddd6.f17bf4","name":"foreach newspaper","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":160,"wires":[["790c2857.782cd8"]]},{"id":"3bfd5658.fde17a","type":"inject","z":"7b78ddd6.f17bf4","name":"START","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":80,"wires":[["d504953.5c3df68"]]},{"id":"cbd83d7f.e0ff9","type":"template","z":"7b78ddd6.f17bf4","name":"build SnapshotURLs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#global.snapshotDates}}\n- {{{global.webarchiveURL}}}{{.}}/{{{payload.url}}}\n{{/global.snapshotDates}}","output":"yaml","x":700,"y":160,"wires":[["2bf8c8d.6d3d738"]]},{"id":"2bf8c8d.6d3d738","type":"split","z":"7b78ddd6.f17bf4","name":"foreach SnapshotURL","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":160,"y":240,"wires":[["57ecdb75.1f0264"]]},{"id":"419b5e7f.2db0d","type":"exec","z":"7b78ddd6.f17bf4","command":"getcss","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":240,"wires":[["9d378423.473d18"],[],[]]},{"id":"f94aa256.e9b9f","type":"file","z":"7b78ddd6.f17bf4","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1010,"y":240,"wires":[[]]},{"id":"8f8702c1.3c617","type":"template","z":"7b78ddd6.f17bf4","name":"build SnapshotDates","field":"snapshotDates","fieldType":"global","format":"handlebars","syntax":"mustache","template":"{{#global.yearRange}}\n- {{.}}0101\n- {{.}}0201\n- {{.}}0301\n- {{.}}0401\n- {{.}}0501\n- {{.}}0601\n- {{.}}0701\n- {{.}}0801\n- {{.}}0901\n- {{.}}1001\n- {{.}}1101\n- {{.}}1201\n{{/global.yearRange}}","output":"yaml","x":540,"y":80,"wires":[["1ab1fb92.e10284"]]},{"id":"790c2857.782cd8","type":"change","z":"7b78ddd6.f17bf4","name":"set Newspaper URL & Shortname","rules":[{"t":"set","p":"currentURL","pt":"global","to":"payload.url","tot":"msg"},{"t":"set","p":"currentShortName","pt":"global","to":"payload.shortName","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["cbd83d7f.e0ff9"]]},{"id":"a447ff85.8efe7","type":"debug","z":"7b78ddd6.f17bf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":340,"wires":[]},{"id":"57ecdb75.1f0264","type":"change","z":"7b78ddd6.f17bf4","name":"","rules":[{"t":"set","p":"snapshotDate","pt":"msg","to":"$split(msg.payload, \"/\")[4]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["419b5e7f.2db0d"]]},{"id":"9d378423.473d18","type":"function","z":"7b78ddd6.f17bf4","name":"set CSS Filename","func":"msg.filename = `${global.get('outputPath')}${global.get('currentShortName')}${msg.snapshotDate}.css`\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["f94aa256.e9b9f","a447ff85.8efe7"]]},{"id":"1b8eae2.4bb2352","type":"fs-ops-dir","z":"8708020f.0ee41","name":"","path":"outputPath","pathType":"global","filter":"*.css","filterType":"str","dir":"files","dirType":"msg","x":440,"y":120,"wires":[["b414a25.f5fb66"]]},{"id":"3720e789.d719c8","type":"inject","z":"8708020f.0ee41","name":"START","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["f1fd85da.b593c8"]]},{"id":"224fc7af.8edc98","type":"split","z":"8708020f.0ee41","name":"foreach CSS File","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":260,"wires":[["71f33ef9.bea04"]]},{"id":"2f24b62f.c3e8ba","type":"exec","z":"8708020f.0ee41","command":"cssstats","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":260,"wires":[["d18a671e.e9f708"],[],[]]},{"id":"d18a671e.e9f708","type":"file","z":"8708020f.0ee41","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":830,"y":260,"wires":[[]]},{"id":"b414a25.f5fb66","type":"change","z":"8708020f.0ee41","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"files","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["224fc7af.8edc98"]]},{"id":"f1fd85da.b593c8","type":"change","z":"8708020f.0ee41","name":"SETTINGS","rules":[{"t":"set","p":"webarchiveURL","pt":"global","to":"http://web.archive.org/web/","tot":"str"},{"t":"set","p":"newspapers","pt":"global","to":"[{\"url\":\"http://www.diepresse.com\",\"shortName\":\"diepresse\"}]","tot":"json"},{"t":"set","p":"yearRange","pt":"global","to":"[2008..2009]","tot":"jsonata"},{"t":"set","p":"outputPath","pt":"global","to":"c://temp//","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"newspapers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":120,"wires":[["1b8eae2.4bb2352"]]},{"id":"71f33ef9.bea04","type":"function","z":"8708020f.0ee41","name":"set CSS Filename","func":"msg.filename = `${global.get('outputPath')}${msg.payload}.json`;\nmsg.payload = `${global.get('outputPath')}${msg.payload}`;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["2f24b62f.c3e8ba"]]}]